.showcase {
  width: 100%;
  margin: 90px auto;
  position: relative;

  &::after {
    @include tablet {
      content: "";
      position: absolute;
      width: 300px;
      top: 14%;
      right: -100px;
      height: 300px;
      background: $bgBlue;
      z-index: -1;
    }
  }

  &__text {
    margin-bottom: 60px;

    h2 {
      font-size: 10vw;

      @include tablet {
        font-size: 6vw;
      }
      @include desktop {
        font-size: 6vw;
      }
    }

    p {
      width: 100%;
      color: $baseText;

      @include tablet {
        width: 50%;
      }
    }
  }

  &__collection {
    width: 100%;
    border-radius: 30px;
    overflow: hidden;
    box-shadow: 30px 50px 50px rgba($color: #bebebe, $alpha: 0.4);
    min-height: 200px;

    img {
      width: 100%;
    }
  }

  &__indicator {
    width: 40%;
    margin: 40px auto;
    display: flex;
    justify-content: center;

    .indicator {
      cursor: pointer;
      margin-right: 10px;
      width: 10px;
      height: 10px;
      border: 1px solid #c8c8c8;
      border-radius: 50%;
    }

    .indicator.active {
      border: 1px solid $bgBlue;
      background: $bgBlue;
    }
  }
}
