header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

@media (min-width: 768px) {
  header .navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

header .navbar__brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .navbar__brand__logo {
  font-size: 30px;
  font-weight: bold;
  margin: 10px 0;
  color: primaryText;
}

header .navbar__brand__logo span {
  color: #f6490d;
}

header .navbar__brand #bars {
  font-size: 30px;
  color: #f6490d;
  cursor: pointer;
}

@media (min-width: 768px) {
  header .navbar__brand #bars {
    display: none;
  }
}

header .navbar__list {
  display: none;
}

@media (min-width: 768px) {
  header .navbar__list {
    margin-top: 10px;
    display: block;
  }
}

header.scrolled {
  background: white;
  -webkit-box-shadow: 0px 10px 40px rgba(194, 194, 194, 0.4);
          box-shadow: 0px 10px 40px rgba(194, 194, 194, 0.4);
}

.list__component {
  margin-top: 10px;
  list-style: none;
  padding: 0;
}

@media (min-width: 768px) {
  .list__component {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0px;
    list-style-type: none;
  }
}

.list__component li {
  margin: 20px 0;
}

@media (min-width: 768px) {
  .list__component li {
    margin: 0px 40px 0px 0px;
  }
}

.list__component a {
  color: #000000;
  text-decoration: none;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

.list__component a:hover {
  border-bottom: 3px solid #f6490d;
}

.sidedrawer {
  position: fixed;
  top: 0;
  right: -400px;
  height: 100vh;
  background: #1dced8;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
  width: 60%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 30px;
  text-align: right;
  opacity: 0;
  z-index: 4;
}

@media (min-width: 768px) {
  .sidedrawer {
    display: none;
  }
}

.sidedrawer.active {
  right: 0;
  opacity: 1;
}

.backdrop {
  z-index: 3;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0;
  display: none;
}

.backdrop.show {
  opacity: 1;
  display: block;
}

.jumbotron {
  width: 100%;
}

@media (min-width: 768px) {
  .jumbotron {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
  }
}

.jumbotron::after {
  content: "";
  position: absolute;
  width: 70%;
  height: 111.2vw;
  max-height: 667px;
  background: #1dced8;
  top: 0px;
  left: 30%;
  z-index: -1;
}

@media (min-width: 768px) {
  .jumbotron::after {
    height: 71.1vw;
    max-width: 692px;
    width: 60%;
    left: 25%;
  }
}

@media (min-width: 992px) {
  .jumbotron::after {
    width: 60%;
    left: 30%;
    max-width: 707px;
  }
}

.jumbotron__image {
  width: 100%;
  overflow: hidden;
  text-align: right;
}

@media (min-width: 768px) {
  .jumbotron__image {
    position: absolute;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    width: 60%;
    top: 40px;
    right: 0px;
  }
}

.jumbotron__image img {
  width: 100%;
  max-width: 600px;
}

.jumbotron__content {
  padding: 20px;
  font-family: "Poppins";
}

@media (min-width: 768px) {
  .jumbotron__content {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-top: 140px;
    width: 70%;
    padding: 2.3rem;
  }
}

@media (min-width: 992px) {
  .jumbotron__content {
    padding: 5rem 6rem;
  }
}

.jumbotron__content__name {
  font-family: 7vw;
  font-weight: 500;
  margin: 1rem 0;
}

.jumbotron__content__name span {
  color: #f6490d;
}

@media (min-width: 768px) {
  .jumbotron__content__name {
    font-size: 4vw;
  }
}

.jumbotron__content__role {
  font-size: 10vw;
  font-weight: bold;
  margin: 1rem 0;
}

@media (min-width: 768px) {
  .jumbotron__content__role {
    font-size: 6vw;
  }
}

.jumbotron__content__cta {
  cursor: pointer;
  margin-right: 5px;
  display: block;
}

.jumbotron__content__cta img {
  -webkit-transition: 0.4 ease;
  transition: 0.4 ease;
}

.jumbotron__content__cta:active {
  color: #f6490d;
}

.jumbotron__content__cta:hover img {
  -webkit-transform: translateX(5px);
          transform: translateX(5px);
}

@media (min-width: 768px) {
  .jumbotron__content__socials {
    -webkit-transform: translateY(170px);
            transform: translateY(170px);
  }
}

.jumbotron__content__socials ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
}

.jumbotron__content__socials ul li {
  margin-right: 10px;
}

.jumbotron__content__socials ul li a {
  color: #545454;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
  display: block;
}

.jumbotron__content__socials ul li iconify {
  font-size: 20px;
}

.jumbotron__content__socials ul li:hover {
  -webkit-transform: translateY(-4px);
          transform: translateY(-4px);
  color: #f6490d;
}

.about {
  margin-top: 80px;
}

@media (min-width: 768px) {
  .about {
    margin-top: 230px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}

.about__image {
  width: 100%;
  overflow: hidden;
}

@media (min-width: 768px) {
  .about__image::after {
    content: " ";
    position: absolute;
    width: 40px;
    height: 40px;
    background: #f6490d;
    -webkit-transform: translate(-5px, 10px);
            transform: translate(-5px, 10px);
    z-index: -1;
  }
}

@media (min-width: 768px) {
  .about__image {
    max-width: 400px;
    margin-top: 60px;
    margin-right: 40px;
  }
}

.about__image img {
  width: 100%;
}

.about__content {
  width: 100%;
}

@media (min-width: 768px) {
  .about__content {
    width: 70%;
    padding: 20px;
    margin-top: 25px;
  }
}

@media (min-width: 992px) {
  .about__content {
    width: 250px;
    margin-top: 75px;
  }
}

.about__content h2 {
  font-size: 2em;
  line-height: 1.5;
}

.about__content h2 span {
  color: #f6490d;
}

.about__content p {
  text-align: justify;
  color: #545454;
}

@media (min-width: 768px) {
  .about__content p {
    width: 250px;
  }
}

@media (min-width: 992px) {
  .about__content p {
    width: 260px;
  }
}

.showcase {
  width: 100%;
  margin: 90px auto;
  position: relative;
}

@media (min-width: 768px) {
  .showcase::after {
    content: "";
    position: absolute;
    width: 300px;
    top: 14%;
    right: -100px;
    height: 300px;
    background: #1dced8;
    z-index: -1;
  }
}

.showcase__text {
  margin-bottom: 60px;
}

.showcase__text h2 {
  font-size: 10vw;
}

@media (min-width: 768px) {
  .showcase__text h2 {
    font-size: 6vw;
  }
}

@media (min-width: 992px) {
  .showcase__text h2 {
    font-size: 6vw;
  }
}

.showcase__text p {
  width: 100%;
  color: #545454;
}

@media (min-width: 768px) {
  .showcase__text p {
    width: 50%;
  }
}

.showcase__collection {
  width: 100%;
  border-radius: 30px;
  overflow: hidden;
  -webkit-box-shadow: 30px 50px 50px rgba(190, 190, 190, 0.4);
          box-shadow: 30px 50px 50px rgba(190, 190, 190, 0.4);
  min-height: 200px;
}

.showcase__collection img {
  width: 100%;
}

.showcase__indicator {
  width: 40%;
  margin: 40px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.showcase__indicator .indicator {
  cursor: pointer;
  margin-right: 10px;
  width: 10px;
  height: 10px;
  border: 1px solid #c8c8c8;
  border-radius: 50%;
}

.showcase__indicator .indicator.active {
  border: 1px solid #1dced8;
  background: #1dced8;
}

.testimonial {
  margin: 90px auto;
  text-align: center;
}

@media (min-width: 768px) {
  .testimonial {
    margin-top: 150px;
  }
}

.testimonial .profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 70%;
  margin: 50px auto;
}

.testimonial .profile__picture {
  width: 50px;
  height: 43px;
  overflow: hidden;
  margin-right: 20px;
  border-radius: 50%;
  border: 3px solid white;
  -webkit-box-shadow: 10px 10px 30px rgba(143, 143, 143, 0.4);
          box-shadow: 10px 10px 30px rgba(143, 143, 143, 0.4);
}

@media (min-width: 768px) {
  .testimonial .profile__picture {
    height: 50px;
  }
}

.testimonial .profile__picture img {
  width: 100%;
}

.testimonial__bio__name {
  font-weight: bold;
  font-size: 1.4em;
  margin: 0;
}

.testimonial__bio__role {
  margin: 10px;
  color: #545454;
  font-size: 1em;
}

.testimonial__content p {
  line-height: 1.4;
  color: #545454;
  font-size: 1.2em;
}

.testimonial__content__stars .star {
  color: #d8d8d8;
}

.testimonial__content__stars .star.active {
  color: #f8bb1e;
}

footer {
  margin-top: 50px;
  text-align: center;
}

footer .logo {
  font-size: 30px;
  font-weight: bold;
  margin: 10px 0;
  color: primaryText;
}

footer .logo span {
  color: #f6490d;
}

footer p {
  color: #545454;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #000000;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "inter";
  margin: 0;
}

.container {
  width: 95%;
  margin: 0 auto;
}

@media (min-width: 992px) {
  .container {
    width: 90%;
  }
}

@media (min-width: 992px) {
  .container {
    width: 85%;
  }
}
/*# sourceMappingURL=main.css.map */