body {
  overflow: hidden;
  background: black;
  width: 100%;
  height: 100vh;
}

.bg {
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: -1;
}

.ubuntu {
  background: -webkit-gradient(linear, right top, left top, from(#8942A8), to(#BA382F));
  background: linear-gradient(to left, #8942A8, #BA382F);
  opacity: 0;
}

.dawn {
  background: -webkit-gradient(linear, left bottom, left top, color-stop(3%, #851a00), color-stop(19%, #ff3300), color-stop(45%, #b5672f), to(#348ec8));
  background: linear-gradient(0deg, #851a00 3%, #ff3300 19%, #b5672f 45%, #348ec8 100%);
  opacity: 0;
}

.morning {
  background: -webkit-gradient(linear, left bottom, left top, from(#ffe671), to(#52a7ff));
  background: linear-gradient(0deg, #ffe671 0%, #52a7ff 100%);
  opacity: 0;
}

.noon {
  background: -webkit-gradient(linear, left bottom, left top, from(#16b7ff), color-stop(58%, #0e74df), to(#0107aa));
  background: linear-gradient(0deg, #16b7ff 0%, #0e74df 58%, #0107aa 100%);
  opacity: 0;
}

.afternoon {
  background: -webkit-gradient(linear, left bottom, left top, from(#a185ff), color-stop(61%, #0076e2), to(#0151aa));
  background: linear-gradient(0deg, #a185ff 0%, #0076e2 61%, #0151aa 100%);
  opacity: 0;
}

.sunset {
  background: -webkit-gradient(linear, left bottom, left top, from(#c34b2a), color-stop(8%, #811d79), color-stop(29%, #5901aa), color-stop(90%, #01054f));
  background: linear-gradient(0deg, #c34b2a 0%, #811d79 8%, #5901aa 29%, #01054f 90%);
  opacity: 0;
}

.evening {
  background: -webkit-gradient(linear, left bottom, left top, from(#000780), to(#000336));
  background: linear-gradient(0deg, #000780 0%, #000336 100%);
  opacity: 0;
}

.midnight {
  background: -webkit-gradient(linear, left bottom, left top, from(#00033c), to(black));
  background: linear-gradient(0deg, #00033c 0%, black 100%);
  opacity: 0;
}

.red {
  background: -webkit-gradient(linear, left top, right top, from(magenta), color-stop(50%, red), to(yellow));
  background: linear-gradient(90deg, magenta 0%, red 50%, yellow 100%);
  opacity: 0;
}

.green {
  background: -webkit-gradient(linear, left top, right top, from(yellow), color-stop(50%, lime), to(cyan));
  background: linear-gradient(90deg, yellow 0%, lime 50%, cyan 100%);
  opacity: 0;
}

.blue {
  background: -webkit-gradient(linear, left top, right top, from(cyan), color-stop(50%, blue), to(magenta));
  background: linear-gradient(90deg, cyan 0%, blue 50%, magenta 100%);
  opacity: 0;
}

.custom {
  background-color: #0079FF;
  opacity: 0;
}

.jam, .ucapan, .quotes {
  margin: 0px;
  padding: 0px;
  position: absolute;
  color: #fff;
  -webkit-transition: all 5s ease, color 1s ease;
  transition: all 5s ease, color 1s ease;
}

.jam {
  opacity: 0;
  font-size: 100pt;
  left: 50%;
  bottom: 50%;
  -webkit-transform: translate(-50%, calc(50% - 0px));
          transform: translate(-50%, calc(50% - 0px));
}

.ucapan {
  font-size: 25pt;
  left: 50%;
  bottom: 50%;
  text-align: center;
  -webkit-transform: translate(-50%, calc(50% + 100px));
          transform: translate(-50%, calc(50% + 100px));
}

.quotes {
  left: 50%;
  bottom: 0;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
  text-align: center;
  font-size: 15pt;
  text-shadow: 0px 0px 10px #000;
  z-index: 2;
}

.kontrol {
  margin: 20px;
  background: #fff;
  padding: 20px;
  position: absolute;
  width: 200px;
  border-radius: 10px;
  left: -220px;
  -webkit-transition: all 1 ease;
  transition: all 1 ease;
  z-index: 99;
}

.panah {
  content: '';
  width: 10px;
  height: 10px;
  position: absolute;
  top: calc(50% - 5px);
  right: -30px;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-bottom: none;
  border-left: none;
  border-radius: 2px;
  border-top-left-radius: 3px;
  border-bottom-right-radius: 3px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  z-index: 50;
}

#color-picker {
  width: 100%;
}

.note {
  color: white;
  -webkit-transition: all 2s ease;
  transition: all 2s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 20pt;
  text-align: center;
  width: 100vh;
}

.kotak {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}

.kotak li {
  position: absolute;
  display: block;
  list-style: none;
  width: 25px;
  height: 25px;
  background: rgba(255, 255, 255, 0.2);
  -webkit-animation: animate 20s linear infinite;
          animation: animate 20s linear infinite;
  bottom: -150px;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.kotak li:nth-child(1) {
  left: 86%;
  width: 80px;
  height: 80px;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

.kotak li:nth-child(2) {
  left: 12%;
  width: 30px;
  height: 30px;
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
}

.kotak li:nth-child(3) {
  left: 70%;
  width: 100px;
  height: 100px;
  -webkit-animation-delay: 5.5s;
          animation-delay: 5.5s;
}

.kotak li:nth-child(4) {
  left: 42%;
  width: 150px;
  height: 150px;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-duration: 15s;
          animation-duration: 15s;
}

.kotak li:nth-child(5) {
  left: 15%;
  width: 110px;
  height: 110px;
  -webkit-animation-delay: 3.5s;
          animation-delay: 3.5s;
}

.bulat {
  position: absolute;
  width: 600px;
  height: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  left: 50%;
  bottom: 50%;
  -webkit-transform: translate(-50%, 50%) scale(0);
          transform: translate(-50%, 50%) scale(0);
  -webkit-transition: 3s all ease;
  transition: 3s all ease;
}

.bulat span:nth-child(1) {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid #fff;
  border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-animation: animate2 6s linear infinite;
          animation: animate2 6s linear infinite;
}

.bulat span:nth-child(2) {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid #fff;
  border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-animation: animate3 4s linear infinite;
          animation: animate3 4s linear infinite;
}

.bulat span:nth-child(3) {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 5px solid #fff;
  border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-animation: animate2 10s linear infinite;
          animation: animate2 10s linear infinite;
}

.pengembang {
  position: absolute;
  font-size: 10px;
  color: red;
  bottom: 0px;
  right: 0px;
  opacity: 0.3;
}

@-webkit-keyframes animate {
  0% {
    -webkit-transform: translateY(0) rotate(0deg);
            transform: translateY(0) rotate(0deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(-100vh) rotate(360deg);
            transform: translateY(-100vh) rotate(360deg);
    opacity: 0;
  }
}

@keyframes animate {
  0% {
    -webkit-transform: translateY(0) rotate(0deg);
            transform: translateY(0) rotate(0deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(-100vh) rotate(360deg);
            transform: translateY(-100vh) rotate(360deg);
    opacity: 0;
  }
}

@-webkit-keyframes animate2 {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes animate2 {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes animate3 {
  0% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes animate3 {
  0% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@media only screen and (max-width: 900px), screen and (max-height: 700px) {
  .jam, .ucapan {
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
  }
  .jam {
    font-size: 50pt;
    -webkit-transform: translate(-50%, calc(50% - 0px));
            transform: translate(-50%, calc(50% - 0px));
  }
  .ucapan {
    font-size: 15pt;
    -webkit-transform: translate(-50%, calc(50% + 50px));
            transform: translate(-50%, calc(50% + 50px));
  }
  .quotes, .note {
    font-size: 15pt;
  }
  .bulat {
    width: 300px;
    height: 300px;
  }
}

@media only screen and (max-width: 500px) {
  .ucapan {
    font-size: 10pt;
  }
  .quotes {
    font-size: 7pt;
  }
  .note {
    font-size: 10pt;
  }
}
/*# sourceMappingURL=style1.css.map */