.about {
  margin-top: 80px;

  @include tablet {
    margin-top: 230px;
    display: flex;
    justify-content: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  &__image {
    width: 100%;
    overflow: hidden;

    &::after {
      @include tablet {
        content: " ";
        position: absolute;
        width: 40px;
        height: 40px;
        background: $secondaryText;
        transform: translate(-5px, 10px);
        z-index: -1;
      }
    }

    @include tablet {
      max-width: 400px;
      margin-top: 60px;
      margin-right: 40px;
    }

    img {
      width: 100%;
    }
  }

  &__content {
    width: 100%;

    @include tablet {
      width: 70%;
      padding: 20px;
      margin-top: 25px;
    }

    @include desktop {
      width: 250px;
      margin-top: 75px;
    }

    h2 {
      font-size: 2em;
      line-height: 1.5;
      span {
        color: $secondaryText;
      }
    }

    p {
      text-align: justify;
      color: $baseText;

      @include tablet {
        width: 250px;
      }

      @include desktop {
        width: 260px;
      }
    }
  }
}
