@mixin tablet {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: 992px) {
    @content;
  }
}

@mixin logo {
  font-size: 30px;
  font-weight: bold;
  margin: 10px 0;
  color: primaryText;

  span {
    color: $secondaryText;
  }
}
